
body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
  padding: 1em 1em;
  color: #00004c;
}
h2{
  margin-top: 1em;
  padding-top: 1em;
}
h1,h2,strong{
  color:#333;
}
code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
  border-left: 2px solid #69c;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}
a {
  color: #e81c4f;
}

.test{
  background-color: red;
}

.gameportal{
  width: 100%;
  height:30em;
}
